mixin sMoreInfo(data)
	// start sMoreInfo
	+b.SECTION.sMoreInfo.section#sMoreInfo&attributes(attributes)
		.container
			.row
				.col-11
					h1 I. Клиническая база Взаимодействие с научно-медицинским сообществом
					+e.btn(href="#").btn.btn-danger Заказать услуги
					p #[span Описнаие краткое компании] – объединение российских производителей для выработки консолидированных инициатив по&nbsp;развитию производства медицинских изделий в&nbsp;Российской Федерации по&nbsp;развитию производства медицинских изделий в&nbsp;Российской Федерации
					//- +b.UL.link-block
					//- 	li
					//- 		a(href="#") I. Клиническая база Взаимодействие с научно-медицинским сообществом
					//- 	li
					//- 		a(href="#") II. Консультационные услуги в сфере обращения медицинских изделий 
					//- 	li
					//- 		a(href="#") III. Маркетинговое исследование рынка и продвижение продукции на рынке
					//- 	li
					//- 		a(href="#") V. Кадровые компетенции для предприятий
					h4 Что входит в услугу
					+e.UL.list
						li Подготовка предложений в&nbsp;профильные Федеральные органы исполнительной власти Российской Федерации.
						li Формирование перечня требований к&nbsp;промышленной продукции, производимой на&nbsp;территории Российской Федерации, утвержденных #[a(href="#") Постановлением Правительства Российской Федерации от&nbsp;17.07.2015 &#8470;&nbsp;719]
						li Поэтапное включение информации об&nbsp;отечественной продукции в&nbsp;Государственную информационную систему промышленности и&nbsp;использование механизма #[a(href="#") Постановления Правительства от&nbsp;10.07.2019 &#8470;&nbsp;878 для ограничения поставки импортной продукции]
						li Участие в&nbsp;подготовке и&nbsp;реализации проекта #[a(href="#") &laquo;Стратегии развития медицинской промышленности Российской Федерации на&nbsp;период до&nbsp;2030&nbsp;года&raquo;]
				//- .col-lg-4.col-xl-3
				//- 	+e.img-wrap
				//- 		+img('img/sPartnersitem-img-1.png')
				//- 	+e.btn(href="#").btn.btn-danger Заказать услуги
				//- 	+e.contacts
				//- 		h4 Контакты
				//- 		a(href="#") 
				//- 			+icon('www')
				//- 			| info@neprohealt.ru
				//- 		a(href="tel:+79660056695")
				//- 			+icon('phone-call')
				//- 			| +7 (966) 005-66-95
				//- 		a(href="mailto:info@neprohealt.ru") 
				//- 			+icon('login')
				//- 			| info@neprohealt.ru
				//- 		a(href="#") 
				//- 			+icon('pin')
				//- 			| 115407, г. Москва, вн.тер.г. Муниципальный Округ Нагатинский Затон, ул. Речников, д. 17
	// end sMoreInfo