// start .sServices
.sServices {
	--sPT: #{rem(0)};
	--sPB: #{rem(35)};
	// --sTPB: #{rem()};
	// @include media-breakpoint-up(lg) {
	// 	--sPB: #{rem(120)};
	// }
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		h4 {
			color: $gray-900;
		}
	}
	&__col{

	}
	&__item{

	}
	&__text-row {
		// margin-bottom: rem(15);
		// @include media-breakpoint-up(lg) {
		// 	margin-bottom: rem(30);
		// }
	}
	&__banner {
		padding: rem(16);
		display: flex;
		border: 1px solid $gray-600;
		border-radius: 8px;
		position: relative;
		flex-direction: column;
		margin-bottom: rem(19);
		@include media-breakpoint-up(md) {
			flex-direction: row;
			padding: rem(32) rem(42) rem(40);
			margin-bottom: rem(38);
		}
		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 1px;
			height: 128px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-color: $primary;
		}
		h4 {
			line-height: 1.50em;
			color: $gray-900;
			margin-bottom: 0;
			max-width: rem(449);
		}
		.icon {
			font-size: rem(48);
			flex: 0 0 auto;
			margin-right: rem(36);
			color: $primary;
			@include media-breakpoint-down(md) {
				margin-right: 0;
				margin-bottom: rem(15);
			}
		}
	}
	&__all-services {
		h4 {
			margin-bottom: rem(35);
		}
	}
	.filter-block {
		margin-bottom: rem(31);
		@include media-breakpoint-down(md) {
			label, .btn {
				width: 100%;
			}
		}
		.btn {
			--bs-btn-border-color: transparent;
			--bs-btn-hover-color: #{$primary};
			--bs-btn-hover-bg: inherit;
			--bs-btn-bg: #F3F4F6;
			--bs-btn-hover-border-color: #{$primary}; 
			--bs-btn-active-color: #fff;
			--bs-btn-active-bg:  #5E6492;
		}
	}
	&__wrap {
		display: flex;
		align-items: center;
	}
	&__result {
		margin-right: auto;
		@include media-breakpoint-up(sm) {
			margin-right: rem(56);
		}
		p {
			font-weight: 600;
			color: $primary;
			margin-bottom: rem(4);
		}
		a {
			font-size: rem(13);
			font-weight: 500;
			color: $danger;
		}
	}
	&__btn {
		--bs-btn-padding-y: 13.5px;
		width: 100%;
		max-width: rem(126);
	}
	&__text-wrap {
		color: $gray-900;
		@include media-breakpoint-up(lg) {
			max-width: rem(561);
		}
		p {
			line-height: 1.5em;
			margin-bottom: rem(30);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sServices