mixin sServices(data)
	// start sServices
	+b.SECTION.sServices.section#sServices&attributes(attributes)
		.container
			.row
				.col-lg-11
					+b.section-title
						h4 Центр компетенций объединяет на&nbsp;своей площадке представителей научно-клинического сообщества на&nbsp;базе вузов страны, государственных и&nbsp;негосударственных медицинских организаций, государственных корпораций (предприятия ОПК России), представителей федеральных органов государственной власти РФ, ПАО &laquo;Промсвязьбанк&raquo;, отечественных разработчиков медицинской техники, платформы компетенций в&nbsp;сфере производительности труда для предприятий и&nbsp;кадровых компетенций.
			+e.text-row.row
				.col-lg-6
					+e.text-wrap
						p Центр компетенций предоставляет консалтинговые услуги по&nbsp;разработке индивидуальной стратегии рыночного продвижения отечественных медицинских изделий, с&nbsp;учетом актуальных требований законодательства.
						p Стратегия направлена на&nbsp;развитие производства отечественных медицинских изделий, их&nbsp;востребованности научно-медицинским сообществом Российской Федерации, выстраивание цепочки взаимодействия
						p Инновационных высокотехнологичных организаций малого и среднего бизнеса с&nbsp;крупными предприятиями ОПК России для выполнения задач по&nbsp;выпуску новой совместной продукции гражданского назначения (медицинских изделий) в&nbsp;условиях диверсификации, проведение маркетинговых исследований, продвижение и&nbsp;поиск сбыта продукции, определение и&nbsp;реализация возможностей экспорта продукции
				.col-lg-6
					+e.banner
						+icon('coat-of-arms')
						h4 Индивидуальная разработка стратегии развития и рыночного продвижения отечественных медицинских изделий
			+e.all-services
				h4 Выберите интересующие вас услуги
				+b.filter-block
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary I. Клиническая база Взаимодействие с научно-медицинским сообществом
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary II. Консультационные услуги в сфере обращения медицинских изделий 
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary III. Маркетинговое исследование рынка и продвижение продукции на рынке
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary IV. Дистрибуция
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary V. Кадровые компетенции для предприятий
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary VI. Инвестиционная поддержка проектов диверсификации, импортозамещения и инноваций для предприятий оборонно-промышленного комплекса России
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary VII. Ведение каталога производимой продукции отечественными предприятиями-участниками АНО «Консорциум «Медицинская техника»
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary VIII. Импорт и экспорт в здравоохранении. Нормативно-правовое регулирование оборота медицинских изделий
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary IX. Федеральный центр компетенций в сфере производительности труда (ФЦК)
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary X. Профильные мероприятия и выставки
					label
						input.btn-check(type="checkbox", name="service")
						span.btn.btn-outline-primary XI. Развитие кооперационных связей, субконтрактинга. Формирование промышленной политики через закупки
				+e.wrap
					+e.result
						p Выбрано услуг: 2
						a(href="#") Сбросить
					+e.btn(href="#" data-src='order-service' data-fancybox="modal").btn.btn-danger Заказать
	// end sServices