// start .sDocs
.sDocs {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(32)};
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	h2 {
		color: $body-color;
		margin-bottom: 0;
	}
	h4 {
		margin-bottom: rem(32);
		color: #676767;
	}
	&__col {
	}
	&__item {
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sDocs
.doc-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 22px 61px rgba(0, 0, 0, 0.13);
	border-radius: 8px;
	background-color: $white;
	margin-bottom: rem(16);
	padding-left: rem(20);
	padding-top: rem(12);
	padding-bottom: rem(12);
	padding-right: rem(32);
	&:last-child{
		margin-bottom: 0;
	}
	&__info {
		display: flex;
		align-items: center;
	}
	&__info {
		padding-right: rem(16);
	}
	&__pic {
		width: rem(32);
		height: rem(32);
		min-width: rem(32);
		margin-right: rem(16);
	}
	&__title {
		font-weight: 600;
		line-height: calc(22 / 16);
	}
	&__type {
		font-size: rem(13);
		line-height: calc(18 / 13);
		font-weight: 500;
		color: #676767 !important;
	}
	&__download {
		width: rem(16);
		min-width: rem(16);
		.icon {
			font-size: rem(16);
		}
	}
}
