mixin sMembers(data)
	// start sMembers
	+b.SECTION.sMembers.section#sMembers&attributes(attributes)
		.container
			+b.section-title
				h2 Участники и учредители
			+e.row.row
				mixin item(i,p)
					.col-xl-3.col-lg-4.col-sm-6
						+e.img-wrap
							+img(`img/sMembers-${i}.png`)
						p!= p
				+item(`1`,`Ассоциация производителей и поставщиков лекарственных средств, изделий и техники медицинского назначения (РОСМЕДПРОМ)`)
				+item(`2`,`Ассоциация разработчиков, производителей и пользователей медицинской техники (МАМТ)`)
				+item(`3`,`Ассоциация организаций оборонно-промышленного комплекса производителей медицинских изделий и оборудования (АПМИ ОПК)`)
				+item(`4`,`Холдинг «Швабе» (ГОСУДАРСТВЕННАЯ КОРПОРАЦИЯ «РОСТЕХ»)`)
				+item(`5`,`Ассоциация разработчиков, производителей и пользователей медицинской техники (МАМТ)`)
				+item(`6`,`Ассоциация производителей и поставщиков лекарственных средств, изделий и техники медицинского назначения (РОСМЕДПРОМ)`)
				+item(`7`,`Холдинг «Швабе» (ГОСУДАРСТВЕННАЯ КОРПОРАЦИЯ «РОСТЕХ»)`)
				+item(`8`,`Ассоциация организаций оборонно-промышленного комплекса производителей медицинских изделий и оборудования (АПМИ ОПК)`)
	// end sMembers