mixin sManager(data)
	// start sManager
	+b.sManager.section#sManager&attributes(attributes)
		.container
			.row
				.col-lg-3
					+pic('manager-1.png','',0)
				.col-lg-9
					+e.wrap
						+e.job Председатель правления
						h2 Иван Владимирович Ожгихин
						+e.birth
							+e.date 06.06.1976
							+e.city г. Курган
						+e.mini-caption Ассоциация разработчиков, производителей и&nbsp;пользователей медицинской техники (МАМТ), АО&nbsp;&laquo;РОСНАНО&raquo;
						mixin block-item(date,text,small)
								+e.block-item
									+e.block-item-date!=date
									+e.block-item-text
										+e.block-item-caption!=text
										if (small)
											+e.block-item-small!=small
						mixin block-item2(date,text,...items)
							+e.block-item
								+e.block-item-date!=date
								+e.block-item-text
									+e.block-item-caption!=text
									ul
										each item in items
											li!=item
						+e.block
							h5 Образование
							+block-item(`1998 г.`,`Курганская государственная сельскохозяйственная академия им. Т.С. Мальцева, специальность &laquo;Бухгалтерский учет и&nbsp;аудит&raquo;`)
							+block-item(`2004 г.`,`Уральский федеральный университет&nbsp;им. первого Президента России Б.Н. Ельцина, магистр, специальность &laquo;Менеджмент&raquo;`)
							+block-item(`2021 г.`,`Санкт-Петербургский политехнический университет Петра Великого, кандидат экономических наук`)
						+e.block
							h5 Профессиональная трудовая деятельность
							+block-item(`1998-2000`,`ООО «Зауральский экономический арбитраж-аудит»`,`Старший бухгалтер - аудитор`)
							+block-item2(`2000-2013`,`ОАО «Производственное объединение «Уральский оптико-механический завод» имени Э.С. Яламова» `,`Заместитель директора по развитию и маркетингу дирекции по продажам гражданской продукции`,`Начальник департамента продаж – Директор Московского филиала`)
							+block-item(`2013-2020`,`ООО «Швабе-Москва»`,`Директор`)
							+block-item(`2016-2020`,`АО «Швабе»`,`Заместитель генерального директора по развитию продаж, маркетингу и сервисной поддержки гражданской продукции (по совмещению)`)
							+block-item(`2020-2021`,`АО «Швабе»`,`Заместитель генерального директора по развитию продаж, маркетингу и сервисной поддержки гражданской продукции`)
							+block-item(`2021-н.в.`,`ООО «УК «РОСНАНО»`,`Старший управляющий директор по развитию`)
						+e.block
							h5 Награды/Почетные звания/Знаки отличия/Победы в конкурсах/Достижения
							+block-item(`2019`,`Почетная грамота ГК «Ростех»`)
	// end sManager

mixin sManager2(data)
	// start sManager
	+b.sManager.section#sManager&attributes(attributes)
		.container
			.row
				.col-lg-3
					+pic('manager-2.png','',0)
				.col-lg-9
					+e.wrap
						+e.job Генеральный директор
						h2 Назаров Виктор Борисович
						+e.birth
							+e.date 22.09.1972
							+e.city г. Курган
						p Является одним из&nbsp;ведущих экспертов в&nbsp;области разработки и&nbsp;производства лекарственных средств и&nbsp;медицинских изделий для защиты военнослужащих и&nbsp;населения от&nbsp;опасных природных и&nbsp;техногенных факторов, а&nbsp;так&nbsp;же в&nbsp;области медико-биологического обеспечения профессиональной надежности и&nbsp;трудового долголетия военнослужащих и&nbsp;работников предприятий отдельных отраслей промышленности с&nbsp;особо опасными условиями труда.<br />Обладает высокими организаторскими способностями.<br />Свободно владет английским языком
						mixin block-item(date,text,small)
								+e.block-item
									+e.block-item-date!=date
									+e.block-item-text
										+e.block-item-caption!=text
										if (small)
											+e.block-item-small!=small
						mixin block-item2(date,text,...items)
							+e.block-item
								+e.block-item-date!=date
								+e.block-item-text
									+e.block-item-caption!=text
									ul
										each item in items
											li!=item
						+e.block
							h5 Образование
							+block-item(`1995 г.`,`Военную академию химической защиты им. Маршала Советского Союза С.К. Тимошенко по специальности «Инженер-химик-исследователь»`)
							+block-item(`2004 г.`,`Московский Государственный Университет им. М.В. Ломоносова по специальности «Психолог, преподаватель психологии»`)
							+block-item(`2006 г.`,`Служба в войсках РХБЗ на научных должностях.<br />Подполковник запаса`)
						+e.block
							h5 Профессиональная трудовая деятельность
							+block-item(`2006 - 2014`,`Научно-производственный центр «Фармзащита» Федерального медико-биологического агентства`,`заместитель директора, директор ФГУП`)
							+block-item(`2014 - 2017`,`Федеральный медико-биологический центр`,`заместитель руководителя `)
							+block-item(`2017-2018`,`Физтех-школа биологической и медицинской физики МФТИ`,`Директор`)
							+block-item(`2018 - н.в.`,`ООО «Медиана»`,`Генеральный директор`)
						+e.block
							h5 Награды/Почетные звания/Знаки отличия/Победы в конкурсах/Достижения
							+block-item(`1999`,`Кандидат химических наук`)
							+block-item(`2004`,`Доктор биологических наук`)
							+block-item(`2016`,`Профессор РАН`)
							+block-item(`2014`,`Лауреат премии Правительства Российской Федерации в области науки и техники`)
	// end sManager

mixin sManager3(data)
	// start sManager
	+b.sManager.section#sManager&attributes(attributes)
		.container
			.row
				.col-lg-3
					+pic('manager-3.png','',0)
				.col-lg-9
					+e.wrap
						+e.job Руководитель Центра
						h2 Литвицкий Кирилл Петрович 
						+e.birth
							+e.date 22.09.1972
							+e.city г. Курган
						p Является одним из&nbsp;ведущих экспертов в&nbsp;области разработки и&nbsp;производства лекарственных средств и&nbsp;медицинских изделий для защиты военнослужащих и&nbsp;населения от&nbsp;опасных природных и&nbsp;техногенных факторов, а&nbsp;так&nbsp;же в&nbsp;области медико-биологического обеспечения профессиональной надежности и&nbsp;трудового долголетия военнослужащих и&nbsp;работников предприятий отдельных отраслей промышленности с&nbsp;особо опасными условиями труда.<br />Обладает высокими организаторскими способностями.<br />Свободно владет английским языком
						mixin block-item(date,text,small)
								+e.block-item
									+e.block-item-date!=date
									+e.block-item-text
										+e.block-item-caption!=text
										if (small)
											+e.block-item-small!=small
						mixin block-item2(date,text,...items)
							+e.block-item
								+e.block-item-date!=date
								+e.block-item-text
									+e.block-item-caption!=text
									ul
										each item in items
											li!=item
						+e.block
							h5 Образование
							+block-item(`1995 г.`,`Военную академию химической защиты им. Маршала Советского Союза С.К. Тимошенко по специальности «Инженер-химик-исследователь»`)
							+block-item(`2004 г.`,`Московский Государственный Университет им. М.В. Ломоносова по специальности «Психолог, преподаватель психологии»`)
							+block-item(`2006 г.`,`Служба в войсках РХБЗ на научных должностях.<br />Подполковник запаса`)
						+e.block
							h5 Профессиональная трудовая деятельность
							+block-item(`2006 - 2014`,`Научно-производственный центр «Фармзащита» Федерального медико-биологического агентства`,`заместитель директора, директор ФГУП`)
							+block-item(`2014 - 2017`,`Федеральный медико-биологический центр`,`заместитель руководителя `)
							+block-item(`2017-2018`,`Физтех-школа биологической и медицинской физики МФТИ`,`Директор`)
							+block-item(`2018 - н.в.`,`ООО «Медиана»`,`Генеральный директор`)
						+e.block
							h5 Награды/Почетные звания/Знаки отличия/Победы в конкурсах/Достижения
							+block-item(`1999`,`Кандидат химических наук`)
							+block-item(`2004`,`Доктор биологических наук`)
							+block-item(`2016`,`Профессор РАН`)
							+block-item(`2014`,`Лауреат премии Правительства Российской Федерации в области науки и техники`)
	// end sManager

mixin sManager4(data)
	// start sManager
	+b.sManager.section#sManager&attributes(attributes)
		.container
			.row
				.col-lg-3
					+pic('manager-4.png','',0)
				.col-lg-9
					+e.wrap
						+e.job Заместитель генерального директора
						h2 Бинько Константин Александрович
						+e.birth
							+e.date 22.09.1972
							+e.city г. Курган
						p Является одним из&nbsp;ведущих экспертов в&nbsp;области разработки и&nbsp;производства лекарственных средств и&nbsp;медицинских изделий для защиты военнослужащих и&nbsp;населения от&nbsp;опасных природных и&nbsp;техногенных факторов, а&nbsp;так&nbsp;же в&nbsp;области медико-биологического обеспечения профессиональной надежности и&nbsp;трудового долголетия военнослужащих и&nbsp;работников предприятий отдельных отраслей промышленности с&nbsp;особо опасными условиями труда.<br />Обладает высокими организаторскими способностями.<br />Свободно владет английским языком
						mixin block-item(date,text,small)
								+e.block-item
									+e.block-item-date!=date
									+e.block-item-text
										+e.block-item-caption!=text
										if (small)
											+e.block-item-small!=small
						mixin block-item2(date,text,...items)
							+e.block-item
								+e.block-item-date!=date
								+e.block-item-text
									+e.block-item-caption!=text
									ul
										each item in items
											li!=item
						+e.block
							h5 Образование
							+block-item(`1995 г.`,`Военную академию химической защиты им. Маршала Советского Союза С.К. Тимошенко по специальности «Инженер-химик-исследователь»`)
							+block-item(`2004 г.`,`Московский Государственный Университет им. М.В. Ломоносова по специальности «Психолог, преподаватель психологии»`)
							+block-item(`2006 г.`,`Служба в войсках РХБЗ на научных должностях.<br />Подполковник запаса`)
						+e.block
							h5 Профессиональная трудовая деятельность
							+block-item(`2006 - 2014`,`Научно-производственный центр «Фармзащита» Федерального медико-биологического агентства`,`заместитель директора, директор ФГУП`)
							+block-item(`2014 - 2017`,`Федеральный медико-биологический центр`,`заместитель руководителя `)
							+block-item(`2017-2018`,`Физтех-школа биологической и медицинской физики МФТИ`,`Директор`)
							+block-item(`2018 - н.в.`,`ООО «Медиана»`,`Генеральный директор`)
						+e.block
							h5 Награды/Почетные звания/Знаки отличия/Победы в конкурсах/Достижения
							+block-item(`1999`,`Кандидат химических наук`)
							+block-item(`2004`,`Доктор биологических наук`)
							+block-item(`2016`,`Профессор РАН`)
							+block-item(`2014`,`Лауреат премии Правительства Российской Федерации в области науки и техники`)
	// end sManager