mixin sTeams(data)
	// start sTeams
	+b.SECTION.sTeams.section#sTeams&attributes(attributes)
		.container
			+b.section-title
				+upt('Члены консорциума')
				h2 Состав правления
				
			+e.row.row
				mixin item(i, pr,t,p)
					+e.col.col-sm
						+b.team-item
							+e.caption
								+e.prof!= pr
								+e.title!= t
								if p
									+e.text!= p
							+e.img-wrap
								+img(`img/team-${i}.png`)
				+item(`1`,`Председатель правления`,`Иван Владимирович Ожгихин`,`Ассоциация разработчиков, производителей и пользователей медицинской техники (МАМТ), АО "РОСНАНО"`)
				+item(`2`,`Член правления`,`Смирнов Александр Юрьевич`,`Ассоциация организаций оборонно-промышленного комплекса производителей медицинских изделий и оборудования (АПМИ ОПК)`)
				+item(`3`,`Член правления`,`Калинин Юрий  Тихонович`,`Ассоциация производителей и поставщиков лекарственных средств, изделий и техники медицинского назначения (Росмедпром`)
				+item(`4`,`Член правления`,`Дмитроченко  Сергей Алексеевич`,`АО «ШВАБЕ»`)
				+item(`5`,`Член правления`,`Ведров Александр Анатольевич`,`АО «Концерн ВКО  «Алмаз-Антей»`)
				
				.col-12 
					h3 Руководство консорциума

				+item(`6`,`Генеральный директор`,`Назаров  Виктор  Борисович`)
				+item(`7`,`Руководитель Центра`,`Литвицкий Кирилл  Петрович `)
				+item(`8`,`Заместитель генерального директора`,`Бинько  Константин  Александрович`) 
	// end sTeams