mixin sPlan(data)
	// start sPlan
	+b.SECTION.sPlan.section#sPlan&attributes(attributes)
		+b.section-title
			h2 План работы
		h3 Дорожная карта
		h4 Основные мероприятия, направленные на совершенствование нормативно-правового регулирования обращения медицинских изделий на территории Российской Федерации
		+e.item
			+e.item-title-wrap
				+e.item-title-number 1.
				+e.item-title-name Стратегия развития медицинской промышленности Российской Федерации на период до 2030 года
			+e.item-subtitle Утверждение стратегии
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		+e.item
			+e.item-title-wrap
				+e.item-title-number 2.
				+e.item-title-name Совершенствование механизма применения национального режима при осуществлении закупок медицинских изделий для обеспечения государственных и муниципальных нужд
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption В.Ф. Дудик, М.Д. Ломакин, Координаторы РГ
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		+e.item
			+e.item-title-wrap
				+e.item-title-number 2.1
				+e.item-title-name 
					.document Постановление Правительства Российской Федерации от 05.02.2015 № 102 
					| «Об установлении ограничения допуска отдельных видов медицинских изделий, происходящих из иностранных государств, для целей осуществления закупок для обеспечения государственных и муниципальных нужд» в рамках исполнения<br>ФЗ №44 от 05.04.2013 "О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд"
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption В.Ф. Дудик, М.Д. Ломакин, Координаторы РГ
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		+e.item
			+e.item-title-wrap
				+e.item-title-number 2.2
				+e.item-title-name 
					.document Постановление Правительства Российской Федерации от 30.04.2020 № 616 
					| «Об установлении запрета на допуск промышленных товаров, происходящих из иностранных государств, для целей осуществления закупок для государственных и муниципальных нужд, а также промышленных товаров, происходящих из иностранных государств, работ (услуг), выполняемых (оказываемых) иностранными лицами, для целей осуществления закупок для нужд обороны страны и безопасности государства»
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption В.Ф. Дудик, М.Д. Ломакин, Координаторы РГ
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		+e.item
			+e.item-title-wrap
				+e.item-title-number 2.3
				+e.item-title-name 
					.document Постановление Правительства Российской Федерации от 30.04.2020 № 616 
					| «Об установлении запрета на допуск промышленных товаров, происходящих из иностранных государств, для целей осуществления закупок для государственных и муниципальных нужд, а также промышленных товаров, происходящих из иностранных государств, работ (услуг), выполняемых (оказываемых) иностранными лицами, для целей осуществления закупок для нужд обороны страны и безопасности государства»
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption В.Ф. Дудик, М.Д. Ломакин, Координаторы РГ
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		+e.item
			+e.item-title-wrap
				+e.item-title-number 2.4
				+e.item-title-name 
					.document Постановление Правительства Российской Федерации от 8 февраля 2017 г. N 145
					| «Об утверждении Правил формирования и ведения в единой информационной системе в сфере закупок каталога товаров, работ, услуг для обеспечения государственных и муниципальных нужд и Правил использования каталога товаров, работ, услуг для обеспечения государственных и муниципальных нужд»
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption В.Ф. Дудик, М.Д. Ломакин, Координаторы РГ
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		+e.item
			+e.item-title-wrap
				+e.item-title-number 2.5
				+e.item-title-name 
					.document Постановление Правительства Российской Федерации от 03.12.2020 №2013 
					| «О минимальной доле закупок товаров российского происхождения», в рамках исполнения <br />ФЗ от 18.07.2011 г.  №223 "О закупках товаров, работ, услуг отдельными видами юридических лиц"
			ul
				li Анализ и выявление нестыковок в закупочных документациях.
				li Проведение консультаций с представителями заинтересованных ведомств (Министерство финансов РФ, Министерство здравоохранения РФ).
				li Получение информации от Министерств здравоохранения субъектов Российской Федерации об исполнении квот.
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		+e.item
			+e.item-title-wrap
				+e.item-title-number 2.6
				+e.item-title-name 
					.document Постановление Правительства Российской Федерации от 03.12.2020 №2014 
					| «О минимальной доле закупок товаров российских и ее достижении заказчиком», в рамках исполнения<br />ФЗ №44 от 05.04.2013 "О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд»
			ul
				li Соотнесение описания КТРУ с составлением технических заданий.
				li Анализ и выявление нестыковок в закупочных документациях.
				li Проведение консультаций с представителями заинтересованных ведомств (Министерство финансов РФ, Министерство здравоохранения РФ).
				li Получение информации от Министерств здравоохранения субъектов Российской Федерации об исполнении квот.
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		+e.item
			+e.item-title-wrap
				+e.item-title-number 3
				+e.item-title-name Совершенствование механизма применения налогообложения
			ul
				li Введение механизма возврата НДС, уплаченного российскими производителями, при приобретении ими материалов и комплектующих, произведённых на территории РФ.
				li Введение механизма возврата НДС, уплаченного российскими производителями, при приобретении ими материалов и комплектующих, для экспортируемых МИ.
				li Введение норм, запрещающих применение преференций к медицинским изделиям иностранного производства (за исключением произведенных в странах-членах ЕАЭС)
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		+e.item
			+e.item-title-wrap
				+e.item-title-number 4
				+e.item-title-name 
					.document Постановление Правительства Российской Федерации от 17 июля 2015 №719
					| «О подтверждении производства промышленной продукции на территории Российской Федерации»
			+e.item-subtitle <span class="number">4.1.</span>1 этап – Формирование консолидированных предложений и направление их для включения в перечень наименований производимой промышленной продукции в разделе VII. «Медицинские изделия"
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
			+e.item-subtitle <span class="number">4.2.</span>2 этап – Разработка типовых условий по разработке требований к отечественной промышленной продукции и расчета уровня локализации в бальной системе оценки, подготовка методических рекомендаций по подтверждению производства промышленной продукции на территории РФ
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров
				+e.info
					+e.info-title Ответственный от Минпромторга России/ФОИВа/Госкорпорации: 
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption В течение года
		h4 Основные мероприятия, направленные на&nbsp;реализацию стратегических задачи деятельности Консорциума в&nbsp;содействии Министерству промышленности и&nbsp;торговли Российской Федерации системному развитию медицинской промышленности в&nbsp;России
		+e.item
			+e.item-title-wrap
				+e.item-title-number 1
				+e.item-title-name Работа с учредителями консорциума
			+e.item-subtitle <span class="number">1.1.</span>Рекомендовать организациям-инициаторам создания АНО «Консорциум «МТ» в минимально возможные сроки завершить подготовку и согласовать документы, необходимые для вступления в состав учредителей АНО «Консорциум «МТ». АО «Концерн «ВКО», «Алмаз-Антей», АО «Концерн «Моринсис-Агат», Государственная корпорация по атомной энергии «Росатом», Государственная корпорация по космической деятельности «Роскосмос», АО «КРЭТ», АО «КТРВ».
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров, В.Ф. Дудик
				+e.info
					+e.info-title Дата мероприятия:
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption 1 марта
			+e.item-subtitle <span class="number">1.2.</span>Проработать вопрос взаимодействия предприятий оборонно-промышленного комплекса, специализирующихся на разработке и производстве электронной компонентной базы с производителями отечественного оборудования
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров, В.Ф. Дудик
				+e.info
					+e.info-title Дата мероприятия:
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption 15 мая
		+e.item
			+e.item-title-wrap
				+e.item-title-number 2
				+e.item-title-name Организация работы правления консорциума
			+e.item-subtitle <span class="number">2.1.</span>Подготовка заседаний и контроль исполнения поручений
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров, В.Ф. Дудик
				+e.info
					+e.info-title Дата мероприятия:
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption 1 марта
			+e.item-subtitle <span class="number">2.2.</span>Утверждение плана работы Консорциума на 2022 год
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров, В.Ф. Дудик
				+e.info
					+e.info-title Дата мероприятия:
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption 15 мая
			+e.item-subtitle <span class="number">2.3.</span>Утверждение отчета о работе Консорциума на 2021 год
			+e.info-block
				+e.info
					+e.info-title Ответственный от Консорциума:
					+e.info-caption И.В. Ожгихин, В.Б. Назаров, В.Ф. Дудик
				+e.info
					+e.info-title Дата мероприятия:
					+e.info-caption -
				+e.info
					+e.info-title Сроки исполнения:
					+e.info-caption 15 мая
	// end sPlan