mixin sPlan(data)
	// start sPlan
	+b.SECTION.sPlan.section#sPlan&attributes(attributes)
		+b.section-title
			h2 План работы
			h3 Дорожная карта
			h4 Основные мероприятия, направленные на совершенствование нормативно-правового регулирования обращения медицинских изделий на территории Российской Федерации
	// end sPlan