mixin sAdv(data)
	// start sAdv
	+b.SECTION.sAdv#sAdv&attributes(attributes)
		.container
			+e.inner.bg-wrap.section
				+img('img/sAdv-bg.jpg','bg').picture-bg
				+b.section-title 
					+upt('Задачи деятельности Консорциума')
					h2 Преимущества участия
				+e.row.row
					.col
						ol 
							li Совершенствование нормативно-правового регулирования обращения медицинских изделий на&nbsp;территории  Российской&nbsp;Федерации
							li Содействие в&nbsp;области развития производственной базы и&nbsp;реализации отечественной продукции на&nbsp;внутреннем и&nbsp;внешнем рынках (продвижение и&nbsp;импортозамещение медицинских изделий)
							li Систематизация перечней данных об&nbsp;объектах медицинских изделий для создания единого шаблона описания закупки их&nbsp;государственными и&nbsp;муниципальными заказчиками
							li Содействие в&nbsp;предоставлении инвестиционной  и&nbsp;организационной поддержки отечественным  производителям медицинских изделий
							li Создание единой платформы медицинских изделий,  производимых членами-участниками Консорциума
							li Открытость Консорциума для позиционирования отечественной медицинской промышленности в&nbsp;практическом применении
					.col-xl-5.col-lg-3.order-lg-first
						a.btn.btn-danger(href="#") Подробнее...
	// end sAdv