mixin sRegulations(data)
	// start sRegulations
	+b.SECTION.sRegulations.section#sRegulations&attributes(attributes)
		+b.section-title
			h2 Регламент
			p деятельности рабочих групп АНО «Консорциум «МТ»
		ol
			li Общие положения
				ol
					li Настоящий Регламент определяет общие условия, принципы и порядок деятельности рабочих групп Автономной некоммерческой организацией Консорциум «Медицинская техника» (далее соответственно рабочие группы или РГ, АНО «Консорциум «МТ» или Консорциум).
					li Рабочие группы относятся к совещательным органам. РГ не являются органами управления Консорциума, созданы в целях объединения российских производителей медицинских изделий (далее – МИ) для обсуждения актуальных проблем и выработки консолидированных инициатив по направлениям обращения МИ
					li Деятельность РГ&nbsp;осуществляется в&nbsp;соответствии с&nbsp;законодательством Российской Федерации, регламентирующим обращение&nbsp;МИ, документами, составляющими право Евразийского экономического союза, иными международными обязательствами Российской Федерации по&nbsp;вопросам обращения&nbsp;МИ, а&nbsp;также настоящим Регламентом и&nbsp;нормативными локальными актами Консорциума
					li Решения Рабочих групп носят рекомендательный характер.
					li Организацию деятельности каждой&nbsp;РГ осуществляет координатор&nbsp;РГ, который утверждается генеральным директором АНО &laquo;Консорциум &laquo;МТ&raquo; после согласования его кандидатуры решением Правления Консорциума
					li Состав РГ&nbsp;утверждает генеральный директор Консорциума
					li Членом РГ&nbsp;может быть российский производитель&nbsp;МИ, выпускающий&nbsp;МИ на&nbsp;производственной площадке, расположенной на&nbsp;территории Российской Федерации.
					li В&nbsp;РГ&nbsp;могут быть созданы подгруппы, перечень и&nbsp;состав которых утверждает генеральный директор Консорциума. Организацию деятельности каждой подгруппы&nbsp;РГ осуществляет координатор подгруппы, который подотчетен координатору&nbsp;РГ.
					li Область компетенций каждой&nbsp;РГ ограничивается группами медицинских изделий, определенных номенклатурной классификацией медицинских изделий по&nbsp;видам, утвержденной Минздравом России. Область компетенций каждой&nbsp;РГ и&nbsp;ее&nbsp;подгрупп, по&nbsp;решению руководства Консорциума, может быть уточнена и&nbsp;дополнительно ограничена кодами, которыми классифицируются&nbsp;МИ (ОКПД2, НКМИ, ТН&nbsp;ВЭД ЕАЭС).
					li В&nbsp;целях выработки консолидированных предложений по&nbsp;наиболее значимым и&nbsp;актуальным вопросам в&nbsp;сфере обращения&nbsp;МИ, по&nbsp;решению генерального директора Консорциума могут быть созданы дополнительные&nbsp;РГ
					li Перечень РГ&nbsp;Консорциума приведен в&nbsp;приложении&nbsp;1.
			li Цель и задачи рабочих групп
				ol
					li Настоящий Регламент определяет общие условия, принципы и порядок деятельности рабочих групп Автономной некоммерческой организацией Консорциум «Медицинская техника» (далее соответственно рабочие группы или РГ, АНО «Консорциум «МТ» или Консорциум).
					li Рабочие группы относятся к совещательным органам. РГ не являются органами управления Консорциума, созданы в целях объединения российских производителей медицинских изделий (далее – МИ) для обсуждения актуальных проблем и выработки консолидированных инициатив по направлениям обращения МИ
					li Деятельность РГ&nbsp;осуществляется в&nbsp;соответствии с&nbsp;законодательством Российской Федерации, регламентирующим обращение&nbsp;МИ, документами, составляющими право Евразийского экономического союза, иными международными обязательствами Российской Федерации по&nbsp;вопросам обращения&nbsp;МИ, а&nbsp;также настоящим Регламентом и&nbsp;нормативными локальными актами Консорциума
					li Решения Рабочих групп носят рекомендательный характер.
					li Организацию деятельности каждой&nbsp;РГ осуществляет координатор&nbsp;РГ, который утверждается генеральным директором АНО &laquo;Консорциум &laquo;МТ&raquo; после согласования его кандидатуры решением Правления Консорциума
					li Состав РГ&nbsp;утверждает генеральный директор Консорциума
					li Членом РГ&nbsp;может быть российский производитель&nbsp;МИ, выпускающий&nbsp;МИ на&nbsp;производственной площадке, расположенной на&nbsp;территории Российской Федерации.
	// end sRegulations