extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sManagement/_sManagement.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage=  null
	- let  bg= null

block title
	- let  title= 'О консорциуме'
	title= title
block pagecontent
	+top-nav()
	+pageHead(title,'Главная','О консорциуме','Руководство Консорциума')
	.mainblock.container
		.row.row-main
			.col-lg-3.col-aside
				+main-menu('2',`Цели и задачи`,`Руководство Консорциума`,`План работы`)
			.col-lg-9.col-main
				+sManagement
	+sForm()
	
	+footer()
      



