extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sTargets/_sTargets.pug
include ../blocks/sAdv/_sAdv.pug
include ../blocks/sServises/_sServises.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sTeams/_sTeams.pug
include ../blocks/sMembers/_sMembers.pug
include ../blocks/sPartners/_sPartners.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	+top-nav()
	+headerBlock

	+sTargets
	+sAdv
	+sServises
	+sLogos
	+sTeams
	+sMembers
	+sPartners
	+sForm()
	
	+footer()
      



