mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			.row
				.col-lg-8.ms-auto.me-auto
					h1 &laquo;Консорциум&raquo; Медицинская техника&quot; и&nbsp;Сеченовский Университет подписали соглашение о&nbsp;сотрудничестве
					+e.date 29.04.2022
					+e.typeNews Новости Консорциума
					+pic('sArticle-img-1.jpg')
					+e.text
						p Центр компетенций предоставляет консалтинговые услуги по&nbsp;разработке индивидуальной стратегии рыночного продвижения отечественных медицинских изделий, с&nbsp;учетом актуальных требований законодательства.
						p Стратегия направлена на&nbsp;развитие производства отечественных медицинских изделий, их&nbsp;востребованности научно-медицинским сообществом Российской Федерации, выстраивание цепочки взаимодействия
						p инновационных высокотехнологичных организаций малого и<br>среднего бизнеса с&nbsp;крупными предприятиями ОПК России для выполнения задач по&nbsp;выпуску новой совместной продукции гражданского назначения (медицинских изделий) в&nbsp;условиях диверсификации, проведение маркетинговых исследований, продвижение и&nbsp;поиск сбыта продукции, определение и&nbsp;реализация
					+pic('sArticle-img-1.jpg')
					+e.text
						p Центр компетенций предоставляет консалтинговые услуги по&nbsp;разработке индивидуальной стратегии рыночного продвижения отечественных медицинских изделий, с&nbsp;учетом актуальных требований законодательства.
						p Стратегия направлена на&nbsp;развитие производства отечественных медицинских изделий, их&nbsp;востребованности научно-медицинским сообществом Российской Федерации, выстраивание цепочки взаимодействия
						p инновационных высокотехнологичных организаций малого и<br>среднего бизнеса с&nbsp;крупными предприятиями ОПК России для выполнения задач по&nbsp;выпуску новой совместной продукции гражданского назначения (медицинских изделий) в&nbsp;условиях диверсификации, проведение маркетинговых исследований, продвижение и&nbsp;поиск сбыта продукции, определение и&nbsp;реализация
					+e.btn(href="#").btn.btn-outline-priamry
						+icon('arrow-left')
						| Предыдущая статья
	// end sContent