// start .sPartners
.sPartners {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		justify-content: center;
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(180)};
			
		}
		--bs-gutter-y: #{rem(80)};
		text-align: center;
		align-items: center;

	}
	.section-title{
		
	}
	img{
		@extend .res-i;
		
	}
	&__col{
		@include mt;
		filter: saturate(0);
		display: block;
		&:hover{
			filter: saturate(1);
		}
	}
	&__item{

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPartners