mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				+upt('Наши друзья')
				h2 Партнеры
				
			+e.row.row
				- for (var x = 1; x < 9; x++)
					+e.col.col-lg-3.col-sm-4.col-6
						+img(`img/sPartners-${x}.png`)
	// end sPartners

mixin sPartnersitem(title, text)
	+e.item
		//- +img(`img/${img}`, 'bg').partners-img
		+e.item-row.row
			+e.text-col.col-lg
				h4!= title
				p!=text
			+e.col-btn.col-lg-auto
				a(href="#"  data-src='order-service2' data-fancybox="modal").btn.btn-danger Заказать услуги
				a(href="#").btn.btn-outline-primary О партнере
			//- +e.tag-col.col-12
			//- 	each tag in tags
			//- 		+e.tag(href="#")!= tag

mixin sPartners2(data)
	// start sPartners
	+b.SECTION.sPartners--services.section#sPartners&attributes(attributes)
		.container
			+e.headline-row.row.align-items-center
				.col
					h2 Услуги
				//- .col-auto
				//- 	h4 АНО «КМТ» объединяет более 235 предприятий
			+sPartnersitem('I. Клиническая база Взаимодействие с научно-медицинским сообществом', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('II. Консультационные услуги в сфере обращения медицинских изделий ', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('III. Маркетинговое исследование рынка и продвижение продукции на рынке', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('IV. Дистрибуция', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('V. Кадровые компетенции для предприятий', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('V. Кадровые компетенции для предприятий', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('VI. Инвестиционная поддержка проектов диверсификации, импортозамещения и инноваций для предприятий оборонно-промышленного комплекса России', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('VIII. Импорт и экспорт в здравоохранении. Нормативно-правовое регулирование оборота медицинских изделий', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('IX. Федеральный центр компетенций в сфере производительности труда (ФЦК)', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('X. Профильные мероприятия и выставки', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			+sPartnersitem('XI. Развитие кооперационных связей, субконтрактинга. Формирование промышленной политики через закупки', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен')
			//- +pugin()