mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				+upt('Наши друзья')
				h2 Партнеры
				
			+e.row.row
				- for (var x = 1; x < 9; x++)
					+e.col.col-lg-3.col-sm-4.col-6
						+img(`img/sPartners-${x}.png`)
	// end sPartners

mixin sPartnersitem(img, title, text, ...tags)
	+e.item
		+img(`img/${img}`, 'bg').partners-img
		+e.item-row.row
			+e.text-col.col-lg
				h4!= title
				p!=text
			+e.col-btn.col-lg-auto
				a(href="#"  data-src='order-service2' data-fancybox="modal").btn.btn-danger Заказать услуги
				a(href="#").btn.btn-outline-primary О партнере
			+e.tag-col.col-12
				each tag in tags
					+e.tag(href="#")!= tag

mixin sPartners2(data)
	// start sPartners
	+b.SECTION.sPartners--services.section#sPartners&attributes(attributes)
		.container
			+e.headline-row.row.align-items-center
				.col
					h2 Партнеры
				.col-auto
					h4 АНО «КМТ» объединяет более 235 предприятий
			+sPartnersitem('sPartnersitem-img-1.png', 'Ассоциация производителей и&nbsp;поставщиков лекарственных средств, изделий и&nbsp;техники медицинского назначения (РОСМЕДПРОМ)', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен', 'Еще услуга', 'Популярная услуга', 'Популярная услуга', 'Вариант навания услуги', 'Вариант навания услуги', 'Еще услуга')
			+sPartnersitem('sPartnersitem-img-2.png', 'Ассоциация организаций оборонно-промышленного комплекса производителей медицинских изделий', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен', 'Еще услуга', 'Вариант навания услуги', 'Вариант навания услуги', 'Еще услуга')
			+sPartnersitem('sPartnersitem-img-3.png', 'Холдинг «Швабе»', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен', 'Еще услуга', 'Вариант навания услуги', 'Вариант навания услуги', 'Еще услуга')
			+sPartnersitem('sPartnersitem-img-2.png', 'Ассоциация организаций оборонно-промышленного комплекса производителей медицинских изделий', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен', 'Еще услуга', 'Вариант навания услуги', 'Вариант навания услуги', 'Еще услуга')
			+sPartnersitem('sPartnersitem-img-1.png', 'Ассоциация производителей и&nbsp;поставщиков лекарственных средств, изделий и&nbsp;техники медицинского назначения (РОСМЕДПРОМ)', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен', 'Еще услуга', 'Популярная услуга', 'Популярная услуга', 'Вариант навания услуги', 'Вариант навания услуги', 'Еще услуга')
			+sPartnersitem('sPartnersitem-img-2.png', 'Ассоциация организаций оборонно-промышленного комплекса производителей медицинских изделий', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен', 'Еще услуга', 'Вариант навания услуги', 'Вариант навания услуги', 'Еще услуга')
			+sPartnersitem('sPartnersitem-img-3.png', 'Холдинг «Швабе»', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен', 'Еще услуга', 'Вариант навания услуги', 'Вариант навания услуги', 'Еще услуга')
			+sPartnersitem('sPartnersitem-img-2.png', 'Ассоциация организаций оборонно-промышленного комплекса производителей медицинских изделий', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен', 'Еще услуга', 'Вариант навания услуги', 'Вариант навания услуги', 'Еще услуга')
			+sPartnersitem('sPartnersitem-img-1.png', 'Ассоциация производителей и&nbsp;поставщиков лекарственных средств, изделий и&nbsp;техники медицинского назначения (РОСМЕДПРОМ)', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка, в&nbsp;том числе с&nbsp;учетом среднесрочных и&nbsp;долгосрочных прогнозов развития отечествен', 'Еще услуга', 'Популярная услуга', 'Популярная услуга', 'Вариант навания услуги', 'Вариант навания услуги', 'Еще услуга')
			+pugin()