mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				+upt('Анонсы')
				h2 Новости и мероприятия
				
			.row
	// end sPartners