mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				+upt('Наши друзья')
				h2 Партнеры
				
			+e.row.row
				- for (var x = 1; x < 9; x++)
					+e.col.col-lg-3.col-sm-4.col-6
						+img(`img/sPartners-${x}.png`)
	// end sPartners