mixin sGroupList(data)
	// start sGroupList
	+b.SECTION.sGroupList.section#sGroupList&attributes(attributes)
		+b.section-title
			h2 Список рабочих групп
		h4 Объединение российских производителей для выработки консолидированных инициатив по развитию производства медицинских изделий в Российской Федерации
		mixin item(title,caption)
			+e.item
				+e.item-title!=title
				+e.item-caption!=caption
		+item(`РГ 01.`,`Анестезиологические и респираторные медицинские изделия`)
		+item(`РГ 02.`,`Вспомогательные и общебольничные медицинские изделия`)
		+item(`РГ 02.1.`,`Подгруппа Медицинские инструменты и расходные материалы к медицинскому оборудованию`)
		+item(`РГ 02.1.`,`Подгруппа Медицинские изделия для оказания первой помощи и медицинской помощи на догоспитальном этапе в экстренной и неотложной формах`)
		+item(`РГ 02.3. `,`Подгруппа Холодильные/морозильные камеры и сопутствующие изделия `)
		+item(`РГ 02.4. `,`Подгруппа Стерилизационная медицинская техника`)
		+item(`РГ 01.`,`Анестезиологические и респираторные медицинские изделия`)
		+item(`РГ 02.`,`Вспомогательные и общебольничные медицинские изделия`)
		+item(`РГ 02.1.`,`Подгруппа Медицинские инструменты и расходные материалы к медицинскому оборудованию`)
		+item(`РГ 02.1.`,`Подгруппа Медицинские изделия для оказания первой помощи и медицинской помощи на догоспитальном этапе в экстренной и неотложной формах`)
		+item(`РГ 02.3.`,`Подгруппа Холодильные/морозильные камеры и сопутствующие изделия `)
		+item(`РГ 02.4.`,`Подгруппа Стерилизационная медицинская техника`)
		+item(`РГ 03.`,`Гастроэнтерологические медицинские изделия`)
		+item(`РГ 04.`,`Медицинские изделия для акушерства и гинекологии`)
		+item(`РГ 05.`,`Медицинские изделия для in vitro диагностики (ИВД)`)
		+item(`РГ 03.`,`Подгруппа Медицинские изделия и расходные материалы к ним для измерения уровня сахара в крови`)
		+item(`РГ 04.`,`Подгруппа Медицинские изделия и расходные материалы для исследования системы крови, включая гемостаз`)
		+item(`РГ 05.`,`Медицинские изделия для in vitro диагностики (ИВД)`)
	// end sGroupList