// start .sPartnersSlider
.sPartnersSlider {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slider {
		position: relative;
		border-radius: 8px;
	}
	&__control-wrap {
		position: absolute;
		right: rem(10);
		bottom: rem(10);
		z-index: 2;
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg) {
			right: rem(32);
			bottom: rem(32);
		}
		.swiper-pagination {
			position: static;
			margin-right: rem(13);
			@include media-breakpoint-up(lg) {
				margin-right: rem(38);
			}
			&-bullet {
				vertical-align: middle;
				&-active, &:hover {
					background-color: $danger;
				}
			}
		}
		.swiper-button-hand {
			position: static;
			flex: 0 0 auto;
			--swiperBgDef: transparent;
			--swiperArrowSize: #{rem(24)};
			--swiperBorderColorDef: #{rgba($color: #727272, $alpha: .2)};
			--swiperColorDef: #727272;
			--swiperBorderColorDefHover: #fff;
			--swiperColorDefHover: #fff;
			--swiperBgDefHover: transparent;
			@include media-breakpoint-up(lg) {

			}
			&-prev {
				margin-right: rem(18);
				.icon {
					margin-right: rem(2);
				}
			}
			&-next {
				.icon {
					margin-left: rem(2);
				}
			}
			.icon {
				fill: none;
				stroke: currentColor;
				stroke-width: 3px;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPartnersSlider