mixin sServises(data)
	// start sServises
	+b.SECTION.sServises#sServises&attributes(attributes)
		.container
			+e.inner.bg-wrap.section
				+img('img/sServises-bg.jpg','bg').picture-bg
				.row
					.col
						h3 Услуги центра компетенций
						p Центр компетенций предоставляет консалтинговые услуги по&nbsp;разработке индивидуальной стратегии рыночного продвижения отечественных медицинских изделий, с&nbsp;учетом актуальных требований законодательства
					.col-lg-auto
						a.btn.btn-primary(href="#") Услуги центра компетенций
	// end sServises