mixin sTargets(data)
	// start sTargets
	+b.SECTION.sTargets.section#sTargets&attributes(attributes)
		.container
			+b.section-title
				+upt('О консорциуме')
				h2 Цели деятельности Консорциума
			
			+e.row
				mixin item(i,t, bg)
					+e.item.bg-wrap
						if bg
							+img(`img/sTargets-${bg}.jpg`,'bg').picture-bg
						+e.icon-wrap
							img(src=`img/svg/sTargets-${i}.svg`, alt="")
						+e.text
							p!= t
							+e.link(href="#") подробнее →
				+item(`1`,`Участие в нормативно-правовом совершенствовании механизма применения национального режима при осуществлении государственных и муниципальных закупок`)
				+item(`2`,`Организация технологической кооперации производителей медицинских изделий, комплектующих, компонентов для их производства`)
				+item(`3`,`Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и их согласования с заинтересованными участниками рынка, в том числе с учетом среднесрочных и долгосрочных прогнозов развития отечественных технологических компетенций`,`bg`)
				+item(`4`,`Стандартизация медицинских изделий, компонентной базы  их производства и расходных материалов`,`bg2`)
				+item(`5`,`Создание условий для увеличения доли отечественной медицинской техники и расходных материалов на внутреннем рынке `,``)
				+item(`6`,`Поддержка в развитии условий для экспорта медицинских техники`,``)
	// end sTargets